<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ATLAS</title>

    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Oleo Script:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="css/agency.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/thumbnail-gallery.css" rel="stylesheet">
    <style type="text/css">
    .row
    {
       /* margin-top: 50px;*/
    }
    .inline-separator
    {
      margin-top: 50px; 

    }
    .navbar-fixed
    {
        background-color: #00579F;
    }


    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <header>
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Atlas Tour</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Trip</h2></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Gallery</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Blogs</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">About Us</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>
    <div class="container">
    <br><br>
          <div class="row">
         <h2>Tiket Pesawat</h2>
        <div id="search-bar" style="background-color: #BFCFDB; padding: 10px; ">
            
            <form>
                <div class="row">
              <div class="form-group col-xs-4">
                <label for="exampleInputEmail3">Kota Asal</label>
                <div class="input-group">
                <div class="input-group-addon"><img src="img/fliup-b.png" width="20px" height="20px"></div>
                <input type="email" class="form-control" id="exampleInputEmail3" placeholder="kota asal">
                </div>
              </div>
              <div class="form-group col-xs-4">
                <label for="exampleInputPassword3">Kota Tujuan</label>
                <div class="input-group">
                <div class="input-group-addon"><img src="img/land-b.png" width="20px" height="20px"></div>
                <input type="password" class="form-control" id="exampleInputPassword3" placeholder="kota tujuan">
              </div>
              </div>
              <div class="form-group col-xs-4">
                <label for="exampleInputEmail3">Jumlah Penumpang</label>
                     <div class="input-group">
                <div class="input-group-addon"><img src="img/male-b.png" width="20px" height="20px"></div>
                    <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                
                <div class="input-group-addon"><img src="img/child-b.png" width="20px" height="20px"></div>
                    <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                
                <div class="input-group-addon"><img src="img/baby-b.png" width="20px" height="20px"></div>
                    <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
              </div>
              </div>
              <div class="row" style="margin-top: ">
                  <div class="form-group col-xs-4">
                <label for="exampleInputEmail3">Tanggal Keberangkatan</label>
                <div class="input-group">
                <div class="input-group-addon"><img src="img/cal-b.png" width="20px" height="20px"></div>
                <input type="email" class="form-control" id="exampleInputEmail3" placeholder="kota asal">
                </div>
              </div>
              <div class="form-group col-xs-4">
                <label for="exampleInputPassword3">Tanggal Pulang</label>
                <div class="input-group">
                <div class="input-group-addon"><img src="img/cal-b.png" width="20px" height="20px"></div>
                <input type="password" class="form-control" id="exampleInputPassword3" placeholder="kota tujuan">
              </div>
              </div>
               <div class="form-group col-xs-4">
                <button type="button" class="btn btn-primary col-xs-12" style="margin-top: 25px">Cari</button>
               </div>

              </div>
              
             
            </form>
        </div>
        <div class="inline-separator"></div>
        <div class="row">
            <div class="result col-xs-6">
                <h3>Berangkat</h3>
                <table class="table table-striped">
                <thead>
                   <td><label>PESAWAT</label></td>
                   <td><label>PERGI</label></td>
                   <td><label>TIBA</label></td>
                   <td><label>DURASI</label></td>
                   <td><label>Transit</label></td>
                   <td><label>FASILITAS</label></td>
                   <td><label>HARGA</label></td> 
                   <td><label></label></td>
                </thead>
                <tr class="warning">
                    <td><img src="http://www.tiket.com/images/tiket2/icon_lion_2.jpg"> <br> <p>Lion Air</p></td>
                   <td>21:00<br></td>
                   <td>00:00</td>
                   <td>1 j 45 m</td>
                   <td>1 Transit</td>
                   <td>0</td>
                   <td>1.350.000</td>
                   <td><a href="flight_order.html"><button type="button" class="btn btn-primary">Pesan</button></a></td>
                </tr>
                 <tr>
                    <td><img src="http://www.tiket.com/images/tiket2/icon_airasia_2.jpg"> <br> <p>Air Asia</p></td>
                   <td>21:00</td>
                   <td>00:00</td>
                   <td>1 j 45 m</td>
                   <td>1 Transit</td>
                   <td>0</td>
                   <td>1.350.000</td>
                   <td><button type="button" class="btn btn-primary">Pesan</button></td>
                </tr>
                 <tr class="warning">
                    <td><img src="http://www.tiket.com/images/tiket2/icon_lion_2.jpg"> <br> <p>Lion Air</p></td>
                   <td>21:00</td>
                   <td>00:00</td>
                   <td>1 j 45 m</td>
                   <td>1 Transit</td>
                   <td>0</td>
                   <td>1.350.000</td>
                   <td><button type="button" class="btn btn-primary">Pesan</button></td>
                </tr>
                 <tr>
                    <td><img src="http://www.tiket.com/images/tiket2/icon_lion_2.jpg"> <br> <p>Lion Air</p></td>
                   <td>21:00</td>
                   <td>00:00</td>
                   <td>1 j 45 m</td>
                   <td>1 Transit</td>
                   <td>0</td>
                   <td>1.350.000</td>
                   <td><button type="button" class="btn btn-primary">Pesan</button></td>
                </tr>
                 <tr class="warning">
                    <td><img src="http://www.tiket.com/images/tiket2/icon_lion_2.jpg"> <br> <p>Lion Air</p></td>
                   <td>21:00</td>
                   <td>00:00</td>
                   <td>1 j 45 m</td>
                   <td>1 Transit</td>
                   <td>0</td>
                   <td>1.350.000</td>
                   <td><button type="button" class="btn btn-primary">Pesan</button></td>
                </tr>
                </table>
            </div>
            <div class="result col-xs-6">
               <h3>Pulang</h3> 
                <table class="table table-striped">
                <thead>
                   <td><label>PESAWAT</label></td>
                   <td><label>PERGI</label></td>
                   <td><label>TIBA</label></td>
                   <td><label>DURASI</label></td>
                   <td><label>Transit</label></td>
                   <td><label>FASILITAS</label></td>
                   <td><label>HARGA</label></td> 
                   <td><label></label></td>
                </thead>
                <tr class="warning">
                    <td><img src="http://www.tiket.com/images/tiket2/icon_lion_2.jpg"> <br> <p>Lion Air</p></td>
                   <td>21:00<br></td>
                   <td>00:00</td>
                   <td>1 j 45 m</td>
                   <td>1 Transit</td>
                   <td>0</td>
                   <td>1.350.000</td>
                   <td><a href="flight_order.html"><button type="button" class="btn btn-primary">Pesan</button></a></td>
                </tr>
                 <tr>
                    <td><img src="http://www.tiket.com/images/tiket2/icon_airasia_2.jpg"> <br> <p>Air Asia</p></td>
                   <td>21:00</td>
                   <td>00:00</td>
                   <td>1 j 45 m</td>
                   <td>1 Transit</td>
                   <td>0</td>
                   <td>1.350.000</td>
                   <td><button type="button" class="btn btn-primary">Pesan</button></td>
                </tr>
                 <tr class="warning">
                    <td><img src="http://www.tiket.com/images/tiket2/icon_lion_2.jpg"> <br> <p>Lion Air</p></td>
                   <td>21:00</td>
                   <td>00:00</td>
                   <td>1 j 45 m</td>
                   <td>1 Transit</td>
                   <td>0</td>
                   <td>1.350.000</td>
                   <td><button type="button" class="btn btn-primary">Pesan</button></td>
                </tr>
                 <tr>
                    <td><img src="http://www.tiket.com/images/tiket2/icon_lion_2.jpg"> <br> <p>Lion Air</p></td>
                   <td>21:00</td>
                   <td>00:00</td>
                   <td>1 j 45 m</td>
                   <td>1 Transit</td>
                   <td>0</td>
                   <td>1.350.000</td>
                   <td><button type="button" class="btn btn-primary">Pesan</button></td>
                </tr>
                 <tr class="warning">
                    <td><img src="http://www.tiket.com/images/tiket2/icon_lion_2.jpg"> <br> <p>Lion Air</p></td>
                   <td>21:00</td>
                   <td>00:00</td>
                   <td>1 j 45 m</td>
                   <td>1 Transit</td>
                   <td>0</td>
                   <td>1.350.000</td>
                   <td><button type="button" class="btn btn-primary">Pesan</button></td>
                </tr>
                </table>
            </div>

        </div>
            
        </div>
        
   </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Atlas Tour and Travel 2016</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    

</html>
