<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ATLAS</title>
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Oleo Script:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="css/agency.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/thumbnail-gallery.css" rel="stylesheet">
    <style type="text/css">
    .row
    {
       /* margin-top: 50px;*/
    }
    .inline-separator
    {
      margin-top: 50px; 

    }
    .navbar-fixed
    {
        background-color: #00579F;
    }


    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <header>
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Atlas Tour</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Trip</h2></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Gallery</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Blogs</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">About Us</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>
    <div class="container">
    <br><br>
          <div class="row">
          <h2> Form Pemesanan </h2>
         <div class="col-xs-8">
           
           <div id="data-diri" style="border-style: groove; padding: 10px;">
             
           <h3> Data Diri </h3>
           <form>
             <div class="row">
               <div class="form-group col-xs-2">
                <label for="exampleInputEmail1">Salutation </label>
                <select class="form-control">
                  <option>Tuan</option>
                  <option>Nyonya</option>
                  
                </select>
              </div>
               <div class="form-group col-xs-5">
                <label for="exampleInputEmail1">FirstName</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
              </div>
              <div class="form-group col-xs-5">
                <label for="exampleInputEmail1">LastName</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-6">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
              </div>
              <div class="form-group col-xs-6">
                <label for="exampleInputEmail1">Phone</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
              </div>
            </div>
            </form>
            </div>
            <br>
             <div id="data-diri" style="border-style: groove; padding: 10px;">
             
           <h3> Data Penumpang </h3>
           <form>
             <div class="row">
               <div class="form-group col-xs-2">
                <label for="exampleInputEmail1">Salutation </label>
                <select class="form-control">
                  <option>Tuan</option>
                  <option>Nyonya</option>
                  
                </select>
              </div>
               <div class="form-group col-xs-5">
                <label for="exampleInputEmail1">FirstName</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
              </div>
              <div class="form-group col-xs-5">
                <label for="exampleInputEmail1">LastName</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-6">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
              </div>
              <div class="form-group col-xs-6">
                <label for="exampleInputEmail1">Phone</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
              </div>
            </div>
            <label for="exampleInputEmail1">Tanggal Lahir</label>
            <div class="row">

              <div class="form-group col-xs-6">
                
                <div class="col-xs-3" id="exampleInputEmail1">
                  <select class="form-control" placeholder="tanggal">
                  <option>1</option>
                  <option>2</option>
                  </select>
                </div>
                <div class="col-xs-5" id="exampleInputEmail1">
                  <select class="form-control" placeholder="tanggal">
                  <option>Januari</option>
                  <option>Februari</option>
                  </select>
                </div>
                <div class="col-xs-4" id="exampleInputEmail1">
                  <select class="form-control" placeholder="tanggal">
                  <option>2012</option>
                  <option>2013</option>
                  </select>
                </div>
                
              </div>
              
            </div>
            
            
            </div>
            <div class="row" style="padding: 10px;">
            <a href="flight_order_information.html">
              <button type="button" class="btn btn-primary col-xs-11" style="margin-top: 25px">Lakukan Pembayaran</button>
            </a>
            </div>
            </form>
            </div>
           <div class="col-xs-4">
           
           <div class="row" id="rincian_penerbangan" style="border-style: groove; padding: 10px;">
                <table class="table">
                <thead><h3>Informasi Pemesanan</h3></thead>
               <tr><td><img src="http://www.tiket.com/images/tiket2/icon_airasia_2.jpg"> <br> <p>Air Asia</p></tr></td>
               <tr>
                 <td>GA 712</td>
               </tr>
               <tr>
                 <td>23:40
                 <br> Jakarta-CGK
                 </td>
               </tr>
                <tr>
                 <td>01:40
                 <br> Medan-MDN
                 </td>
               </tr>
               </table>    
           </div>
            <br>
           <div class="row" id="rincian_biaya" style="border-style: groove; padding: 10px;">
           <table class="table">
               <thead><h3>Rincian Biaya</h3></thead>
               <tr>
                 <td>1 Dewasa</td>
                 <td>IDR 2.450.000</td>
               </tr>
               <tr>
                 <td>1 Anak</td>
                 <td>IDR 2.450.000</td>
               </tr>
                <tr>
                 <td>Pajak</td>
                 <td>IDR 2.450.000</td>
               </tr>
               <tr>
                 <td>Subtotal</td>
                 <td>IDR 2.450.000</td>
               </tr>
               <tr>
                 <td>diskon</td>
                 <td>IDR 2.450.000</td>
               </tr>
              <tr>
                 <td>Total Pembayaran</td>
                 <td>IDR 2.450.000</td>
               </tr>
           </table>    
           </div>

         </div>
         
        </div>
        
   </div>
    <!-- /.container -->

    

</body>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Atlas Tour and Travel 2016</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    

</html>
